

@media only screen and (min-width: 1200px) {
    section.newsletter {
        height: 520px;
    
    }
}

@media only screen and (max-width: 1199.98px) {
    .price-list {

        padding: 20px 10px 60px 10px;
    }
}

@media only screen and (max-width: 991.98px) {
    div#navbarSupportedContent {
        background: #ffffff;
        position: absolute;
        width: 100%;
        top: 72px;
        left: 0px;
        z-index: 9999999;
    }
    .navbar-toggler-icon {

      	border-radius: 2px;
  	}
    .nav-menu {
      	align-items: left;
      	display: inline;
    }
    .nav-menu-right li a {
		margin-left: 12px;
    }
    .relationship-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .relationship-colum {
        padding-right: 0px;
    }
    .relationship-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .relationship-content h2 {
        margin-top: -30px;
        font-size: 32px;
        line-height: 42px;
    }

    .feature-item p {
        font-size: 16px;
    }

    .choose-img img {
        padding-left: 0px;
    }

    .choose-content h2 {
        font-size: 32px;
        line-height: 42px;

    }
    
    .choose-content p {
        font-size: 14px;
        line-height: 24px;

    }
    section.newsletter {
        background-size: 100% 396px;
        background-repeat: no-repeat;
    }
    .newsletter-content h3 {
        font-size: 32px;
        line-height: 42px;
    }
    .footer-part3.footer-part {
        margin-top: 40px;
    }
}



@media only screen and (max-width: 767.98px) {
    .banner-content h1 {
        font-size: 32px;
        line-height: 42px;
    }
    .popular-member-heading h2 {
        font-size: 32px;
        line-height: 42px;

    }
    img.popular_love1 {
        right: -100px;
        top: 0px;
    }

    .popular-member-heading p {
        font-size: 14px;
        line-height: 24px;

    }
    .popular-bg {
        height: 830px;
        background: linear-gradient(97.06deg, #2E407E -11.18%, #43147A 105.62%);
    }
    .popular-list {
        margin-top: 20px;
    }

    .relationship-content h2 {
        margin-top: 20px;
    }

    .feature-item {
        margin-top: 20px;
    }

    .row.choose-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-title h2 {
        font-size: 32px;
        line-height: 42px;

    }
    .feature-title h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .newsletter-content h3 {
        font-size: 28px;
        line-height: 38px;
    }
    .subscribe-form {
        width: 350px;
    }
    
    
}


@media only screen and (max-width: 575.98px) {
    img.banner-love1 {
        position: absolute;
        left: 1px;
        top: -50px;
        width: 60px;
    }
    img.banner-love2 {
        right: 0px;
        top: -50px;
    }
    
    .banner-form {
        width: 330px;
    }
    .banner-form form button {

        margin-top: 20px;
        width: 50%;
    }
    .banner-content {
        padding: 0px 0px;
    }
    img.popular_love1 {
        right: 0px;
        top: -90px;
        width: 60px;
    }
    img.popular_love2 {
        position: absolute;
        left: 0px;
        top: -60px;
    }

    .popular-bg {
        height: 100%;
        padding-bottom: 30px;
    }
    section.newsletter {
        background-size: cover;
        background-repeat: no-repeat;
    }
    .subscribe-form {
        width: 320px;
    }
    .subscribe-form form input {

        width: 180px;
    }
    .ready h3 {

        font-size: 24px;

        line-height: 34px;
    }
    .ready-start {
        padding: 14px 18px;
    }

    .ready-contact {
        padding: 14px 18px;
    }
}